 <tr>
    <td><%= user_log.user.name %></td>
    <td><%= user_log.weight %></td>
    <td><%= user_log.comment %></td>
    <td><%= link_to '表示', user_log %></td>
    <% if (current_user == user_log.user) %>
      <td><%= link_to '編集', edit_user_log_path(user_log) %></td>
      <td><%= link_to '削除', user_log, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
    <% end %> 
 </tr>