<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Signup</strong>

                </div>
                <div class="panel-body">
                  <!--<form class="form-horizontal" action='' method="POST">-->
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <fieldset>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="control-group">
                            <!-- Username -->
                            <label class="control-label"  for="email">Email</label>
                            <div class="controls">
                              <!--<input type="text" id="username" name="username" placeholder="" class="input-xlarge">-->
                              <%= f.email_field :email, autofocus: true %>
                              <p class="help-block">Please provide your E-mail</p>
                            </div>
                          </div>
                       
                          <div class="control-group">
                            <!-- E-mail -->
                            <label class="control-label" for="email">Name</label>
                            <div class="controls">
                              <!--<input type="text" id="email" name="email" placeholder="" class="input-xlarge">-->
                              <%= f.text_field :name %>
                              <p class="help-block">Please provide your name</p>
                            </div>
                          </div>
                       
                          <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                              <!--<input type="password" id="password" name="password" placeholder="" class="input-xlarge">-->
                              <%= f.password_field :password, autocomplete: "off" %>
                              <p class="help-block">Password should be at least 4 characters</p>
                            </div>
                          </div>
                       
                          <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                            <div class="controls">
                              <!--<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">-->
                              <%= f.password_field :password_confirmation, autocomplete: "off" %>
                              <p class="help-block">Please confirm password</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="control-group">
                          <label class="control-label"  for="Age">Age</label>
                          <div class="controls">
                            <%= f.number_field :age %>
                            <p class="help-block">Please provide your age</p>
                          </div>
                        </div>
                         
                        <div class="control-group">
                          <label class="control-label"  for="height">Height</label>
                          <div class="controls">
                            <%= f.number_field :height, step:'any' %>
                            <p class="help-block">Please provide your height</p>
                          </div>
                        </div>
                        
                        <div class="control-group">
                          <label class="control-label"  for="weight">Weight</label>
                          <div class="controls">
                            <%= f.number_field :weight, step:'any' %>
                            <p class="help-block">Please provide your weight</p>
                          </div>
                        </div>
                     
                        <div class="control-group">
                          <!-- Button -->
                          <div class="controls primaryss">
                            <%= f.submit "Sign up", class: 'btn btn-primary btn-medium' %>
                          </div>
                        </div>
                      </div>
                      </div>
                    </fieldset>
                  <!--</form>-->
                  <% end %>
                </div>
                <div class="panel-footer"><%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>