<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_goal.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @user_goal.integer %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_goal.weight %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user_goal.float %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user_goal.height %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user_goal.float %>
</p>

<p>
  <strong>Bust size:</strong>
  <%= @user_goal.bust_size %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user_goal.float %>
</p>

<p>
  <strong>Waist size:</strong>
  <%= @user_goal.waist_size %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user_goal.float %>
</p>

<p>
  <strong>Hip size:</strong>
  <%= @user_goal.hip_size %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user_goal.float %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user_goal.comment %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_goal.string %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@user_goal) %> |
<%= link_to 'Back', user_goals_path %>
