  <nav id="myNavbar" class="navbar navbar-default navbar-inverse role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">Dietto-web</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Hello, #{current_user.email}!", current_user %></li>
              <li><%= link_to "目標一覧", user_goals_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
              <% end %>
            </ul>
        </div>
    </div>
</nav>
  