<!DOCTYPE html>
<html>
<head>
  <title>Dietto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--echo header-->
  <%- if controller_name != 'sessions' && controller_name != 'registrations' %>
  <%= render "layouts/header" %>
  <% end %>
  
  <!--page content-->
  <div class="container col-md-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="thumbnail">
          <%= render "users/form_show" %>
        </div>
        <div class="thumbnail">
          <div class="list-group">
            <a href="#" class="list-group-item active">
                View Logs
            </a>
            <a href="#" class="list-group-item"><span class="badge">14</span>Friends</a>
            <a href="#" class="list-group-item">Message</a>
            <a href="#" class="list-group-item">Progress</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="thumbnail">
           <% if controller_name != 'users' %>
          <%= yield %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-3">
        <% if user_signed_in? %>
        <div class="thumbnail">
          <div class="caption">
            <h3>User Goals</h3>
            <p>ID: <%= current_user.id %></p>
            <p>名前: <%= current_user.name %></p>
            <p>年齢: <%= current_user.age %> 歳</p>
            <p>体調: <%= current_user.height %> cm</p>
            <p>体重: <%= current_user.weight %> kg</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
        <% else %>
          <%= render "devise/sessions/login_form" %>
        <% end %>
      </div>
    </div>
  </div>
  
  <!--echo footer-->
  <%- if controller_name != 'sessions' && controller_name != 'registrations' %>
  <%= render "layouts/footer"%>
  <% end %>
  
</body>
</html>
