<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if user_signed_in? %>
<h3>Hello <%= current_user.email %>!</h3>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "目標一覧", user_goals_path %>

<h3>名前: <%= current_user.name %></h3>
<h3>年齢: <%= current_user.age %> 歳</h3>
<h3>体調: <%= current_user.height %> m</h3>
<h3>体重: <%= current_user.weight %> kg</h3>

<% else %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "ユーザー登録", new_user_registration_path %>
<% end %>
<hr>
<% flash.each do |type, message| %>
  <strong><%= message %></strong>
<% end %>
<br>
<%= yield %>

</body>
</html>
